@import "katex/dist/katex.min.css";

body {
  margin: 0;
  padding: 0;
  background-color: #0A0E17;
  /*color: #ffffff;*/
  color: #f4f0eb; /*warmer off-white for better readability*/
  /*color: #EAEAEA;*/ /*slightly brighter off-white*/
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
  line-height: 1.6;
}

a {
  color: #59a6ff;
  text-decoration: none;
}

a:hover {
  color: #8fc3ff;
}